*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
 }

body {
  font-family: 'Poppins', sans-serif;
  }

header {
	display: flex;
	width: 80%;
	height: 10vh;
	margin: auto;
	align-items: center;
} 

h3 {
	font-style: bold;
}

.logo-container, .nav-links, .cart {
	display: flex;
}

.logo-container {
	width: 50px;
	height: 50px;
	flex: 1;
}

.logo {
	font-weight: 400;
	font-size: 15px;
	margin: 5px;
}

nav {
	flex: 2;
}

.nav-links {
	justify-content: space-around;
	list-style: none;                
}

.nav-link {
	color: #5f5f79;
	font-size: 18px;
	text-decoration: none;   
} 

.cart {
	width: 20px;
	height: 20px;
	flex: 1;
	justify-content: flex-end;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}

.introduction {
	flex: 1;
}

.intro-text h1 {
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to right, grey, rgb(141, 141, 212));
	background-clip:text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.intro-text p {
	margin-top: 5px;
	font-size: 20px;
	color: black;
}

.cta {
	padding: 600px, 0px, 0px, 0px;
}

.cta-select {
	border: 5px solid darkred;
	background: transparent;
	color: pink;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
}

.cta-add {
	border: none;
	background: pink;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	color: black;
	margin: 3opx 0px 0px 30px;
}



.cover {
	flex: 1;
	height: 60vh;
}

.cover img {
	height: 100%;
	filter: drop-shadow(0px 5px 3px black);
	padding: 10% 10% 0% 10%;
	animation: drop 1.5s ease;
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity:0.1;
	height: 70%;
}

.bubble2 {
	position: absolute;
	z-index: -1;
	top: 55%;
	right: 40%;
	opacity:0.1;
	height: 40%;
}

.bubble3 {
	position: absolute;
	z-index: -1;
	bottom: 0%;
	left: 30%;
	opacity:0.2;
	height: 25%;
}

.laptop-select {
	position: absolute;
	display: flex;
	right: 30%;
	width: 10%;
	bottom: 10%;
	justify-content: space-around;
}

@keyframes drop{
	0%{
		opacity: 0;
		transform: translateY(-80px);
	}
	100%{
		opacity:1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
	.presentation{
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 25px;
	}
	.intro-text p{
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}
	.cover img {
		height: 80%;
	}
	.big-circle, .bubble2, .bubble3 {
		opacity: 0.1;
	}	
}
